.jumbotron {
	background-color: rgb(221, 184, 141);
    color: darkgoldenrod;
    font-size: 75px;
}

body {
	font-size: 18px;
	background: url("../images/back.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    color: rgb(51, 4, 41);
}

.panel > .panel-heading {
    background-image: none;
    background-color: rgb(221, 184, 141);
    color: darkgoldenrod;
    font-size: 25px;

}